body {
    margin: 0;
}

:local {
    .canvas_original {
        position: relative;
    }
    .marcador {
        position: absolute;
        height: 10px;
        width: 10px;
        margin-left: -5px;
        margin-top: -5px;
        background-color: #ff40ec;
        border-radius: 50%;
        opacity: 0.5;
    }
}